{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TypeRacer</title>

    <link rel="stylesheet" href="{% static 'css/typingStyle.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    
    
    <div class="all-box-container">
      <article class="text-article">
        <div>
          <div class="words-array"></div>
        </div>
      </article>
      <article class="form-btn-container">
        <form action="">
          <input type="text" class="input" />
        </form>

        <div class="wpm-container">
          <span class="wpm-number">0</span> <span class="wpm">WPM</span>
        </div>
        <div class="time-container">1:00</div>
        <button class="reset-btn">
          <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
      </article>
      <article class="info-container">
        <div class="stat-container">
          <div class="wpm-record-container">
            <div class="wpm-record">Record WPM</div>
            <div class="wpm-record-number"></div>
          </div>
          <div class="correct-container">
            <div class="correct">Correct</div>
            <div class="correct-number"></div>
          </div>
          <div class="incorrect-container">
            <div class="incorrect">Incorrect</div>
            <div class="incorrect-number"></div>
          </div>
          <div class="accuracy-container">
            <div class="accuracy">Accuracy</div>
            <div class="accuracy-number"></div>
          </div>
        </div>
        <div class="toggle-container">
          <div class="word-count-container">
            <div class="word-count">Word Count</div>
            <div class="word-count-options-container">
              <button class="ten-words btn isActive">10</button>
              <button class="thirty-words btn">20</button>
              <button class="sixty-words btn">30</button>
            </div>
          </div>
          <div class="show-wpm-container">
            <div class="show-wpm">Show WPM</div>
            <div class="show-hide-container">
              <button class="show isActive wpmBtns">Show</button>
              <button class="hide wpmBtns">Hide</button>
            </div>
          </div>
          <div class="show-timer-container">
            <div class="show-time">Show Time</div>
            <div class="show-hide-container">
              <button class="show isActive timeBtns">Show</button>
              <button class="hide timeBtns">Hide</button>
            </div>
          </div>
        </div>
      </article>
    </div>
    <div class="navbar-btn" onclick="this.classList.toggle('active')">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="100"
        height="60"
        viewBox="0 0 200 200"
      >
        <g stroke-width="6.5" stroke-linecap="round">
          <path
            d="M72 82.286h28.75"
            fill="#009100"
            fill-rule="evenodd"
            stroke="#fff"
          />
          <path
            d="M100.75 103.714l72.482-.143c.043 39.398-32.284 71.434-72.16 71.434-39.878 0-72.204-32.036-72.204-71.554"
            fill="none"
            stroke="#fff"
          />
          <path
            d="M72 125.143h28.75"
            fill="#009100"
            fill-rule="evenodd"
            stroke="#fff"
          />
          <path
            d="M100.75 103.714l-71.908-.143c.026-39.638 32.352-71.674 72.23-71.674 39.876 0 72.203 32.036 72.203 71.554"
            fill="none"
            stroke="#fff"
          />
          <path
            d="M100.75 82.286h28.75"
            fill="#009100"
            fill-rule="evenodd"
            stroke="#fff"
          />
          <path
            d="M100.75 125.143h28.75"
            fill="#009100"
            fill-rule="evenodd"
            stroke="#fff"
          />
        </g>
      </svg>
    </div>
    <nav class="navbar">
      <ul>
        <div class="center-items">
          <li class="recall"><a href="{% url 'recall_it' %}">Recall It</a></li>
          <li class="type-mania"><a href="{% url 'type_mania' %}">Type Mania</a></li>
          <li><a href="{% url 'word_scramble' %}">Word Scramble</a></li>
        </div>
        <div class="right-items">
          {% if user.is_authenticated %}
          <li><a href="{% url 'score_list' %}">Scores</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Signup</a></li>
          {% endif %}
        </div>
      </ul>
    </nav>
    <script
      src="https://kit.fontawesome.com/95b6c5c61f.js"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/typingGame.js' %}"></script>
  </body>
</html>
