:root {
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scores-container {
  display: flex;
  margin-bottom: 2rem;
}

.score {
  margin-right: 50px;
}
.high-score {
  margin-left: 50px;
}

.box-container {
  display: flex;
  justify-content: center;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #f1f1f1;
  border: 1px solid black;
}

.start-btn {
  margin-top: 20px;
  background: lightgray;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  transition: all 0.3s;
}

.start-btn:hover {
  background-color: cyan;
  color: white;
}
.start-btn:disabled {
  background-color: gray;
  color: darkgray;
}
