* {
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
  text-align: center;
  flex-direction: column;
  background-color: rgb(17, 17, 17);
}

.highlight {
  color: rgb(103, 255, 98);
}

.mistake {
  color: red;
  font-style: italic;
  font-weight: bolder;
}
.reset-btn {
  cursor: pointer;
}

.text-article {
  width: 800px;

  height: 88px;
  overflow: hidden;
  background-color: rgb(25, 25, 25);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0.25rem;
  border: 2px solid rgb(42, 42, 42);
}
.text-article .word-span {
  display: inline-block;
}

.text-article div {
  font-size: 2rem;
  text-align: left;
  margin-left: 0.5rem;
  letter-spacing: 1px;
}
.form-btn-container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.current-letter-highlight {
  background-color: lightgray;
  animation: flicker 0.45s infinite alternate;
}
.input {
  width: 400px;
  height: 40px;
  background-color: rgb(25, 25, 25);
  border: none;
  border-radius: 0.25rem;
  border: 1px solid rgb(42, 42, 42);
  color: white;
  font-size: 2rem;
  font-family: "Encode Sans Expanded", sans-serif;
  padding-bottom: 8px;
  padding-left: 5px;
  border: 2px solid rgb(42, 42, 42);
}
.wpm-container,
.time-container,
.reset-btn {
  margin-left: 5px;
  color: white;
  background-color: rgb(25, 25, 25);
  width: 120px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Encode Sans Expanded", sans-serif;
  border-radius: 0.3rem;
  border: 2px solid rgb(42, 42, 42);
}
.wpm-container {
  height: 30px;
}
.time-container {
  height: 30px;
}
.wpm {
  font-size: 0.8rem;
  padding-top: 7px;
  margin-left: 3px;
  font-weight: lighter;
}
.words-array {
  color: white;
  font-family: "Encode Sans Expanded", sans-serif;
}

.reset-btn {
  border: none;
  background: none;
  background: transparent;
  padding-top: 10px;
  padding-bottom: 7px;
  height: 54px;
  border: 2px solid rgb(42, 42, 42);
}

.fa-refresh {
  font-size: 1.8rem;
}
.reset-btn:hover {
  transition: all 0.3s;
  background: rgb(45, 158, 251);
}

/* @keyframes flicker {
  from {
    background-color: lightgray;
    opacity: 1;
  }

  to {
    opacity: 1;
  }
} */
.rotate {
  transition: all 0.5s;
  transform: rotate(360deg);
}

.info-container {
  display: flex;

  margin-top: 2rem;
  border-radius: 0.3rem;
}
.stat-container,
.toggle-container {
  flex: 1;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: left;
  margin-left: 1rem;
}

.wpm-record,
.correct,
.incorrect,
.accuracy,
.word-count,
.show-wpm,
.show-time,
.wpm-record-number,
.correct-number,
.incorrect-number,
.accuracy-number,
.show,
.hide {
  color: white;
  font-family: "Encode Sans Expanded", sans-serif;
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
  margin-right: 1rem;
}

.wpm-record-container,
.correct-container,
.incorrect-container,
.accuracy-container,
.word-count-container,
.show-wpm-container,
.show-timer-container,
.show-hide-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.word-count-container,
.show-timer-container,
.show-hide-container {
  margin-bottom: 0.5rem;
}

.ten-words,
.thirty-words,
.sixty-words {
  color: white;
  font-size: 1rem;
}
.word-count-options-container button {
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  width: 60px;
  height: 30px;
  font-family: "Encode Sans Expanded", sans-serif;
}

.word-count-options-container button:hover {
  background-color: rgb(45, 158, 251);
  color: rgb(143, 143, 143);
  transition: all 0.3s;
}

.word-count-options-container .isActive {
  background-color: rgb(42, 42, 42);
}

.show,
.hide {
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  cursor: pointer;
  border-radius: 0.3rem;
  margin-top: 0.4rem;
  margin-right: 0.25rem;
  width: 80px;
  height: 30px;
  padding-bottom: 0px;
}

.show:hover,
.hide:hover {
  background-color: rgb(45, 158, 251);
  color: rgb(143, 143, 143);
  transition: all 0.3s;
}

.show-hide-container .isActive {
  background-color: rgb(42, 42, 42);
}
