* {
  transition: all 0.7s ease;
}

.highlight {
  color: red;
}

.mistake {
  color: purple;
  font-style: italic;
  font-weight: bolder;
}
.reset-btn {
  cursor: pointer;
}

.current-letter-highlight {
  animation: flicker 0.55s infinite alternate;
}

@keyframes flicker {
  from {
    background-color: lightgray;
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}
.rotate {
  transform: rotate(-180deg);
}
