body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.first-row-container {
}

.pressed {
  background-color: gray;
}

.hidden,
.hidden-span,
.hidden-four,
.hidden-four-span {
  visibility: hidden;
  opacity: 0;
  transition: opacity 2s;
}

.word {
}

.progress-bar {
  position: relative;
  width: 30%;
  height: 20px;
  background-color: #ccc;
  margin: 0 auto;
}

.progress {
  width: 0;
  height: 100%;
  background-color: #007bff;
  transition: width 0.2s;
}

.marker {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #000;
}

.marker-25 {
  left: 25%;
}

.marker-50 {
  left: 50%;
}

.marker-75 {
  left: 75%;
}

.word-scramble-container {
  display: flex;
  align-items: center;
}

.stats-container {
  display: flex;
  justify-content: center;
}

.score,
.level {
  margin-right: 1rem;
}

#laugh-track {
  display: none;
  width: 200px;
  height: 200px;
}

@font-face {
  font-family: "Public Pixel";
  src: url(arcade.ttf) format("truetype");

  font-weight: lighter;
  font-style: normal;
}

body {
  font-family: "Public Pixel", Arial, sans-serif;
}
