body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
}

.first-row-container {
  font-size: 2rem;
}
.four-letter-words-container {
  font-size: 3rem;
}

/* .hidden, */
.hidden-span,
/* .hidden-four, */
.hidden-four-span {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
}

.word {
}

.progress-bar {
  position: relative;
  width: 50%;
  height: 20px;
  background-color: black;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.progress {
  width: 0;
  height: 100%;
  background-color: white;
  transition: width 0.2s;
}

.marker {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #000;
}

.marker-50 {
  left: 50%;
}

.word-scramble-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}
.word {
  padding-bottom: 1rem;

  margin-bottom: 0.5rem;
  display: block;
  background-color: orange;
  padding: 3px 5px;
  padding-bottom: 6px;
  border-radius: 4px;
  z-index: 0;
  color: white;
  background: linear-gradient(
    to right,
    transparent 0%,
    transparent 3%,
    orange 3%,
    orange 32%,
    transparent 33%,
    transparent 34%,
    orange 35%,
    orange 63%,
    transparent 64%,
    transparent 65%,
    orange 66%,
    orange 93%,
    transparent 94%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.four-letter-word {
  padding-bottom: 1rem;

  margin-bottom: 0.5rem;
  display: block;
  background-color: orange;
  padding: 3px 5px;
  padding-bottom: 6px;
  border-radius: 4px;
  z-index: 0;
  color: white;
  background: linear-gradient(
    to right,
    transparent 0%,
    transparent 1%,
    orange 2%,
    orange 23%,
    transparent 24%,
    transparent 25%,
    orange 26%,
    orange 48%,
    transparent 49%,
    transparent 50%,
    orange 51%,
    orange 70%,
    transparent 71%,
    transparent 72%,
    orange 73%,
    orange 95%,
    transparent 96%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.letter {
  font-size: 3rem;
  padding-bottom: 1rem;
  margin-right: 2px;
  /* display: inline-block;
  background-color: orange; */
  padding: 2px 4px;
  /* border-radius: 4px;
  z-index: 0;
  color: white; */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

.score,
.level {
  margin-right: 3rem;
}

#laugh-track {
  display: none;
  width: 1000px;
  height: 1000px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

@font-face {
  font-family: "Public Pixel";
  src: url(arcade.ttf) format("truetype");

  font-weight: lighter;
  font-style: normal;
}

.input {
  font-family: "Public Pixel", Arial, sans-serif;
  margin-top: 1rem;
  height: 30px;
  font-size: 1.2rem;
}

body {
  font-family: "Public Pixel", Arial, sans-serif;
}

.btn {
  font-family: "Public Pixel", Arial, sans-serif;
  font-weight: lighter;
}

.trash-btn,
.delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  background-color: white;
  margin-top: 1rem;
  height: 35px;
  width: 40px;
  border-radius: 0.25rem;
}

.trash-btn:active,
.delete-btn:active {
  background-color: orange;
  transform: translateY(1px);
}

.fa-trash,
.fa-delete-left {
  font-size: 1.5rem;
}

.input-btns-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
  text-align: center;
}

.bottom-half-container {
  text-align: center;
}

.letters-container {
  margin-bottom: 1rem;
}

.letter-btn {
  margin-right: 0.25rem;
  background: orange;
  border: none;
  border-radius: 0.25rem;
  padding: 5px 10px;
  font-size: 1.5rem;
  border: 2px solid orange;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.letter-btn:active {
  transform: translateY(1px);
}
.pressed {
  background-color: gray;
}
.shuffle-enter-btn-container {
  margin-bottom: 1rem;
}

.shuffle-btn,
.enter {
  margin-right: 0.25rem;
  background: rgb(251, 206, 177);
  border: none;
  border-radius: 0.25rem;
  padding: 5px 10px;
  font-size: 1rem;

  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.shuffle-btn:active,
.enter:active {
  transform: translateY(1px);
}

.ultimate-btn {
  margin-right: 0.25rem;
  background: rgb(233, 116, 81);
  border: none;
  border-radius: 0.25rem;
  padding: 5px 10px;
  font-size: 1rem;

  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.hint-button {
  position: fixed;
  top: 24%;
  left: 28%;
  border: none;
  background: lightgreen;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 3px 5px;
  color: black;
}

.hint-btn-text {
  position: fixed;
  top: 18%;
  left: 28%;
}

.yes-btn,
.no-btn {
  border: none;
  background-color: aqua;
  cursor: pointer;
  font-family: "Public Pixel", Arial, sans-serif;
  padding: 4px 6px;
  border-radius: 0.25rem;
}

.text {
  position: fixed;
  top: 18%;
  left: 28%;
  font-size: 2rem;
}

.ultimate-btn {
  padding: 0.5em 1em;
  background-color: lavenderblush;
  border: none;
  user-select: none;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.5s linear;
  color: black;
  position: relative;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.ultimate-btn:hover::after,
.ultimate-btn:hover::before {
  content: "";
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;

  animation: move-right-side 1s ease infinite;
}

.ultimate-btn:hover::before {
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  inset: 0;
  animation: move-left-side 1s ease infinite;
  z-index: -2;
}

.ultimate-btn:hover {
  background-color: #fff;
  color: #00c9ff;
}

@keyframes move-right-side {
  0% {
    inset: 0.3em 0 0 0.3em; /*top | left */
  }

  33% {
    inset: 0 0.3em 0.3em 0; /*right| bottom*/
  }

  66% {
    inset: 1em 0 0 0.5em;
  }

  100% {
    inset: 0 1em 0.5em 0;
  }
}

@keyframes move-left-side {
  0% {
    right: -1em;
    top: -0.5em;
  }

  33% {
    bottom: -1em;
    left: -0.5em;
  }

  66% {
    top: 0;
    right: -0.7;
  }

  100% {
    right: -1em;
    top: -0.5em;
  }
}

.check-level {
  border: none;
  background-color: lightcoral;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 4px 6px;
}
.check-level:active {
  transform: translateY(2px);
}
