{% extends 'base.html' %}
{% block title %}
 Change Password
{% endblock title %}

{% block content %}
  <main>
    <div class="form-container">
    <h1 class='signup-text'>Change Password</h1>
    <form method="post" class='signupForm'>
        {% csrf_token %}
        
        <div class="form-group">
            <label for="id_old_password">Old Password:</label>
            {{ form.old_password }}
        </div>
        <div class="form-group">
            <label for="id_new_password">New Password:</label>
            {{ form.new_password }}
        </div>
        <div class="form-group">
            <label for="id_confirm_password">Confirm Password:</label>
            {{ form.confirm_password }}
        </div>
        {% if error %}
            <div class="alert alert-danger">
                <strong>{{ error }}</strong> 
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
    </div>
  </main>
 <script>

    document.addEventListener('DOMContentLoaded', function () { 
        const form = document.body.querySelector('.signupForm');
        const errorMessage = document.body.querySelector('.alert');

        form.addEventListener('input', function () {
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
        });
    });
</script>
{% endblock content %}