{% extends 'base.html' %}
{% block title %}
Other User Profile
{% endblock title %}

{% block content %}
<main class='account-main-container'>
  <div class="form-container login-container account-container">
    <h1 class='login-text'>User Profile</h1>
   
    <div style='display: flex; '>
      <h2 class='h2-text'>Username:</h2>
      <h2 class='h2-text'> &nbsp {{ other_user.username }}</h2>
    </div>

    <h3>Scores</h3> 
    <h4>Recall It: {{ recall_it_score }}</h4>
    <h4>Type Mania: {{ type_mania_score }}</h4>
    <h4>Word Scramble: {{ word_scramble_score }}</h4>
    <h4>Rank: {{ rank }}</h4>
    <a style='text-decoration: none; color: white;' class="btn btn-primary" href="{% url 'send_message' other_user.username %}">
        Message
    </a>
    

    
  </div>
</main>
{% endblock content %}
