{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
</head>
<body>
    <nav class="navbar">
      <ul>
        <div class="center-items">
          <li class="recall"><a class='item' href="{% url 'recall_it' %}">Recall It</a></li>
          <li class="type-mania"><a class='item'  href="{% url 'type_mania' %}">Type Mania</a></li>
          <li><a class='item' href="{% url 'word_scramble' %}">Word Scramble</a></li>
        </div>
        <div class="right-items">
          {% if user.is_authenticated %}
          <li><a class='item' href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li><a class='item' href="{% url 'login' %}">Login</a></li>
          <li><a class='item' href="{% url 'signup' %}">Signup</a></li>
          {% endif %}
        </div>
      </ul>
    </nav>
  {% block content %}
  {% endblock content %}
</body>
</html>