body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
}

body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 60s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.first-row-container {
  font-size: 2rem;
}
.four-letter-words-container {
  font-size: 3rem;
}

/* .hidden, */
.hidden-span,
/* .hidden-four, */
.hidden-four-span {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
}

.word {
}

.progress-bar {
  position: relative;
  width: 50%;
  height: 20px;
  background-color: black;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.progress {
  width: 0;
  height: 100%;
  background-color: white;
  transition: width 0.2s;
}

.marker {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #000;
}

.marker-50 {
  left: 50%;
}

.word-scramble-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
  flex-direction: column;
}
.stats-list {
  display: flex;
}
.word {
  padding-bottom: 1rem;

  margin-bottom: 0.5rem;
  display: block;
  background-color: orange;
  padding: 3px 5px;
  padding-bottom: 6px;
  border-radius: 4px;
  z-index: 0;
  color: white;
  background: linear-gradient(
    to right,
    transparent 0%,
    transparent 3%,
    orange 3%,
    orange 32%,
    transparent 33%,
    transparent 34%,
    orange 35%,
    orange 63%,
    transparent 64%,
    transparent 65%,
    orange 66%,
    orange 93%,
    transparent 94%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.four-letter-word {
  padding-bottom: 1rem;

  margin-bottom: 0.5rem;
  display: block;
  background-color: orange;
  padding: 3px 5px;
  padding-bottom: 6px;
  border-radius: 4px;
  z-index: 0;
  color: white;
  background: linear-gradient(
    to right,
    transparent 0%,
    transparent 1%,
    orange 2%,
    orange 23%,
    transparent 24%,
    transparent 25%,
    orange 26%,
    orange 48%,
    transparent 49%,
    transparent 50%,
    orange 51%,
    orange 70%,
    transparent 71%,
    transparent 72%,
    orange 73%,
    orange 95%,
    transparent 96%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.letter {
  font-size: 3rem;
  padding-bottom: 1rem;
  margin-right: 2px;
  /* display: inline-block;
  background-color: orange; */
  padding: 2px 4px;
  /* border-radius: 4px;
  z-index: 0;
  color: white; */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

.score,
.level {
  margin-right: 3rem;
}

#laugh-track {
  display: none;
  width: 1000px;
  height: 1000px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

@font-face {
  font-family: "Public Pixel";
  /* src: url(arcade.ttf) format("truetype"); */

  font-weight: lighter;
  font-style: normal;
}

.input {
  font-family: "Public Pixel", Arial, sans-serif;
  margin-top: 1rem;
  height: 30px;
  font-size: 1.2rem;
}

body {
  font-family: "Public Pixel", Arial, sans-serif;
}

.btn {
  font-family: "Public Pixel", Arial, sans-serif;
  font-weight: lighter;
}

.trash-btn,
.delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  background-color: white;
  margin-top: 1rem;
  height: 35px;
  width: 40px;
  border-radius: 0.25rem;
}

.trash-btn:active,
.delete-btn:active {
  background-color: orange;
  transform: translateY(1px);
}

.fa-trash,
.fa-delete-left {
  font-size: 1.5rem;
}

.input-btns-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
  text-align: center;
}

.bottom-half-container {
  text-align: center;
}

.letters-container {
  margin-bottom: 1rem;
}

.letter-btn {
  margin-right: 0.25rem;
  background: orange;
  border: none;
  border-radius: 0.25rem;
  padding: 5px 10px;
  font-size: 1.5rem;
  border: 2px solid orange;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.letter-btn:active {
  transform: translateY(1px);
}
.pressed {
  background-color: gray;
}
.shuffle-enter-btn-container {
  margin-bottom: 1rem;
}

.shuffle-btn,
.enter {
  margin-right: 0.25rem;
  background: rgb(251, 206, 177);
  border: none;
  border-radius: 0.25rem;
  padding: 5px 10px;
  font-size: 1rem;

  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.shuffle-btn:active,
.enter:active {
  transform: translateY(1px);
}

.ultimate-btn {
  margin-right: 0.25rem;
  background: rgb(233, 116, 81);
  border: none;
  border-radius: 0.25rem;
  padding: 5px 10px;
  font-size: 1rem;

  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.hint-button {
  position: relative;
  top: 50%;
  left: 0%;
  border: none;
  background: lightgreen;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 3px 5px;
  color: black;
  margin-top: 2rem;
}

.error {
  color: red;
  font-size: 1rem;
  position: absolute;
  margin-top: 1rem;
}

.hidden-active{
  display: none;
}

.hidden-error{
  display: none;
  
}

.hint-button-text {
  position: absolute !important;
  margin-bottom: 2rem;
}

.yes-btn,
.no-btn {
  border: none;
  background-color: aqua;
  cursor: pointer;
  font-family: "Public Pixel", Arial, sans-serif;
  padding: 4px 6px;
  border-radius: 0.25rem;
}

.text {
  top: 18%;
  left: 28%;
  font-size: 2rem;
}

.ultimate-btn {
  padding: 0.5em 1em;
  background-color: lavenderblush;
  border: none;
  user-select: none;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.5s linear;
  color: black;
  position: relative;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.ultimate-btn:hover::after,
.ultimate-btn:hover::before {
  content: "";
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;

  animation: move-right-side 1s ease infinite;
}

.ultimate-btn:hover::before {
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  inset: 0;
  animation: move-left-side 1s ease infinite;
  z-index: -2;
}

.ultimate-btn:hover {
  background-color: #fff;
  color: #00c9ff;
}

.hint-button-container{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.level-container{
  display: flex;
  align-items: center;
}

@keyframes move-right-side {
  0% {
    inset: 0.3em 0 0 0.3em; /*top | left */
  }

  33% {
    inset: 0 0.3em 0.3em 0; /*right| bottom*/
  }

  66% {
    inset: 1em 0 0 0.5em;
  }

  100% {
    inset: 0 1em 0.5em 0;
  }
}

@keyframes move-left-side {
  0% {
    right: -1em;
    top: -0.5em;
  }

  33% {
    bottom: -1em;
    left: -0.5em;
  }

  66% {
    top: 0;
    right: -0.7;
  }

  100% {
    right: -1em;
    top: -0.5em;
  }
}

.check-level {
  border: none;
  background-color: lightcoral;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 4px 6px;
}
.check-level:active {
  transform: translateY(2px);
}
.navbar {
  position: fixed;
  top: 0;
  background-color: #333;
  color: #fff;
  width: 100vw;
  opacity: 0;
  padding-top:.5rem;
  padding-bottom: .5rem;
}
.navbar-show {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  width: 100vw;
  text-align: center;
}

.navbar a {
  position: relative;
  text-decoration: none;
}

.navbar a::after {
  content: '';
  position: absolute;
  left: 5%;
  bottom: 5px; 
  width: 90%;
  height: 2px; 
  background-color: #fff; 
  transform: scaleX(0);
  transition: transform 0.15s ease-in-out;
}

.navbar a:hover::after {
  transform: scaleX(1);
}


.navbar li {
  text-align: center;
  padding: 10px;
  padding-bottom: 15px;
}
.recall,
.type-mania {
  margin-right: 5rem;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
}

.navbar-btn {
  position: fixed;
  top: 0;
  cursor: pointer;
  left: 0;
}
svg {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active svg {
  transform: rotate(90deg);
  opacity: 0.5;
}
path {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
path:nth-child(1) {
  transform-origin: 36% 40%;
}
path:nth-child(2) {
  stroke-dasharray: 29 299;
}
path:nth-child(3) {
  transform-origin: 35% 63%;
}
path:nth-child(4) {
  stroke-dasharray: 29 299;
}
path:nth-child(5) {
  transform-origin: 61% 52%;
}
path:nth-child(6) {
  transform-origin: 62% 52%;
}
.active path:nth-child(1) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
.active path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.active path:nth-child(3) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.active path:nth-child(5) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(6) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}

#level-up, #word-found, #reveal-word, #ultimate-sound {
    display: none;
}



@media (min-width: 1700px) and (max-width: 1920px) {
  body {
    height: 100vh;
  }

  h1{
    font-size: 1.8rem;
  }

  

  .stats-container {
    margin-bottom: 2rem;
  }
  .hint-button {
    font-size: 1rem;
    margin-top: -.5rem;
    
  }
  .hint-button-text {

    margin-top: 1rem;
    margin-bottom: 2rem;
    position: absolute;
  }

  .hint-button-text h2 {

    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .text {
    left: 18%;
    margin-top: 7%;
  }
  .bottom-half-container {
    margin-top: 3rem;
  }
  .input-btns-container {
    justify-content: center;
  }
}

@media (min-width: 1080px) and (max-width: 1700px) {
  * {
    font-size: 1.2rem;
  }
  .recall,
  .type-mania {
    margin-right: 3rem;
  }

  

  body {
    height: 100vh;
  }
  .stats-container {
    margin-bottom: 2rem;
  }
  .bottom-half-container {
    margin-top: 1.5rem;
  }

  .hint-button {
    font-size: .8rem;
    margin-top: -2rem;
  }

  .hint-button-text{
    margin-top: 1rem;
    margin-bottom: 0rem;
  }

  .hint-button-text h2 {
    font-size: .6rem;
  }
  .hint-button-text button {
    font-size: 0.5rem;
  }

  .text {
    left: 16%;
    font-size: 2rem;
  }

  .letter {
    font-size: 1.5rem;
    -webkit-text-stroke-width: 2px;
  }
  #laugh-track {
    width: 100vw;
    height: 100vh;
  }
  .input {
    width: 330px;
    height: 25px;
  }
  .letter-btn {
    font-size: 1rem;
  }
  .shuffle-btn,
  .enter {
    font-size: 0.9rem;
  }
  .trash-btn,
  .delete-btn {
    height: 30px;
  }
  .fa-delete-left,
  .fa-trash {
    font-size: 1.2rem;
  }
  .progress-bar {
    width: 150px;
  }
  .ultimate-btn {
    font-size: 0.8rem;
  }
  .check-level {
    font-size: 0.8rem;
  }
  .input-btns-container {
    justify-content: center;
  }
  .error {
    font-size: 0.8rem;
  }
  .time-container{
    font-size: .8rem !important;
  }
}

@media (min-width: 750px) and (max-width: 1080px) {
  * {
    font-size: 1rem;
  }
  body {
    height: 90vh;
  }
  .stats-container {
    margin-bottom: 1rem;
  }
  .bottom-half-container {
    margin-top: 4rem;
  }

  .hint-button {
    font-size: 0.7rem;
    margin-top: -1rem;
  }
  .hint-btn-text button {
    font-size: 0.5rem;
  }

  .text {
    font-size: 1.5rem;
  }

  .letter {
    font-size: 1.2rem;
    -webkit-text-stroke-width: 1px;
  }
  #laugh-track {
    width: 100vw;
    height: 100vh;
  }
  .letter-btn {
    font-size: 0.8rem;
  }
  .input {
    width: 300px;
    height: 20px;
  }
  .trash-btn,
  .delete-btn {
    height: 25px;
  }
  .fa-delete-left,
  .fa-trash {
    font-size: 1rem;
  }
  .shuffle-btn,
  .enter {
    font-size: 0.6rem;
  }
  .progress-bar {
    width: 120px;
  }
  .ultimate-btn {
    font-size: 0.6rem;
  }
  .check-level {
    font-size: 0.6rem;
  }
  .input-btns-container {
    justify-content: center;
  }
  .error {
    font-size: 0.5rem;
  }
  .time-container{
    width: 70px !important;
    height: 30px !important;
    font-size: .8rem !important;
  }
}

@media (min-width: 501px) and (max-width: 750px) {
  * {
    font-size: 0.8rem;
  }
  body {
    height: 90vh;
  }
  .stats-container {
    margin-bottom: 0.8rem;
  }
  .bottom-half-container {
    margin-top: 2rem;
  }

  .hint-button {
    font-size: 0.3rem;
  }
  .letter {
    font-size: 1rem;
    -webkit-text-stroke-width: 1px;
  }
  .hint-button {
    font-size: 0.5rem;
    left: 0%;
    margin-top: 0px;
  }
  .hint-btn-text {
    left: 20%;
    margin-bottom: 1rem;
  }
  .hint-btn-text button {
    font-size: 0.5rem;
  }

  .text {
    left: 20%;
    font-size: 1.3rem;
  }

  #laugh-track {
    width: 100vw;
    height: 100vh;
  }
  .letter-btn {
    font-size: 0.6rem;
  }
  .input {
    width: 200px;
    height: 16px;
  }
  .trash-btn,
  .delete-btn {
    height: 22px;
  }
  .fa-delete-left,
  .fa-trash {
    font-size: 0.8rem;
  }
  .shuffle-btn,
  .enter {
    font-size: 0.4rem;
  }
  .progress-bar {
    width: 100px;
  }
  .ultimate-btn {
    font-size: 0.4rem;
  }
  .check-level {
    font-size: 0.4rem;
  }
  .input-btns-container {
    justify-content: center;
  }
  .time-container{
    width: 50px !important;
    height: 20px !important;
    font-size: .6rem !important;
  }
}

@media (max-width: 500px) {
  * {
    font-size: .5rem;
  }
  body {
    height: 90vh;
  }
  .navbar ul {
    max-width: 100vw;
    padding: 0;
    font-size: .7rem;
    display: flex;
    justify-content: space-evenly;
  }
  .navbar a {
    font-size: 1.2rem;
    padding: 0;
  }

  .navbar li {
    margin: 0 auto;
  }
  .navbar-btn {
    position: fixed;
    top: 80%;
    left: 38%;
    margin: 0 auto;
  }
  .stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;

    width: 90vw;
  }
  .stats-list {
    text-align: center;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .level,
  .score,
  .highscore {
    font-size: 1rem;
    margin-right: 1.8rem;
  }

  .hint-button {
    font-size: 0.5rem;
    display: flex;

    margin-top: -2px;
  }

  #laugh-track {
    width: 100vw;
    height: 100vh;
  }
  .hint-btn-text {
    text-align: center;
  }
  .hint-btn-text h2 {
    font-size: 1rem;
  }
  .hint-btn-text button {
    font-size: 0.8rem;
    text-align: center;
  }
  .no-btn {
    margin-right: 1rem;
  }

  .letter-btn {
    height: 20px;
  }
  .letter {
    font-size: 1.5rem;
    -webkit-text-stroke-width: 1px;
    color: white;
  }
  .letter-btn {
    font-size: 1rem;
    width: 20px;
    padding-left: 5px;
  }
  .input {
    width: 150px;
    height: 16px;
  }
  .trash-btn,
  .delete-btn {
    height: 22px;
  }
  .fa-delete-left,
  .fa-trash {
    font-size: 1.5rem;
  }
  .shuffle-btn,
  .enter {
    font-size: 0.8rem;
  }
  .progress-bar {
    width: 100px;
    height: 15px;
  }
  .ultimate-btn {
    font-size: 1rem;
  }
  .check-level {
    font-size: 0.7rem;
  }
  .input-btns-container {
    justify-content: center;
  }

  .navbar .center-items {
    margin-left: 40px;
  }

  .navbar .right-items {
    margin-left: .3rem;
  }

  .navbar {
    width: 100vw;
    left: 0;
  }

  .item {
    font-size: .8rem !important; 
  }

  .center-items li {
    margin-right: .2rem;
    
  }
   .time-container{
    width: 35px !important;
    height: 20px !important;
    font-size: .7rem !important;
  }
}

.navbar-btn {
  position: fixed;
  top: 0;
  cursor: pointer;
  left: 0;
  z-index:100;
}

.navbar {
    width: 100vw;
    left: 0;
    
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar .center-items {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-left: 222px;
}

.navbar .right-items {
  margin-left: auto;
  display: flex;
}


@media (min-width: 1250px) and (max-width: 1350px) {

  .navbar .center-items {
    margin-left: 160px;
  }

  .navbar .right-items {
    margin-left: 1rem;
  }

  .navbar {
    width: 100vw;
    left: 0;
  }

  .item {
    font-size: 1rem !important; 
  }

  .center-items li {
    margin-right: 1rem;
    
  }
 

  
}


@media (min-width: 900px) and (max-width: 1249px) {
  .navbar .center-items {
    margin-left: 80px;
  }

  .navbar .right-items {
    margin-left: .5rem;
  }

  .navbar {
    width: 100vw;
    left: 0;
  }

  .item {
    font-size: .8rem !important; 
  }

  .center-items li {
    margin-right: .5rem;
    
  }
}

@media (min-width: 653px) and (max-width: 899px) {
  .navbar .center-items {
    margin-left: 60px;
  }

  .navbar .right-items {
    margin-left: .3rem;
  }

  .navbar {
    width: 100vw;
    left: 0;
  }

  .item {
    font-size: .7rem !important; 
  }

  .center-items li {
    margin-right: .3rem;
    
  }
 .error {
  position: absolute;
    font-size: 0.5rem;
  }

}

@media (max-width: 652px) {
  .navbar .center-items {
    margin-left: 40px;
  }

  .navbar .right-items {
    margin-left: .3rem;
  }

  .navbar {
    width: 100vw;
    left: 0;
  }

  .item {
    font-size: .7rem !important; 
  }

  .center-items li {
    margin-right: .2rem;
    
  }

  .navbar-btn {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 80vh);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    bottom: 0;
}
 .error {
    font-size: 0.5rem;
  }

}

.time-container{
  
  margin-left: 5px;
  color: white;
  background-color: rgb(25, 25, 25);
  width: 80px;
  height: 40px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Encode Sans Expanded", sans-serif;
  border-radius: 0.3rem;
  border: 2px solid rgb(42, 42, 42);
  font: inherit;
}