{% extends 'base_users.html' %}

{% block content %}
  <div class="message-detail-container">
    <h2 class="message-subject">{{ message.subject }}</h2>
    <p class="message-sender">From: <a href="{% url 'users' message.sender.username %}">{{ message.sender.username }}</a></p>
    <p class="message-body">{{ message.body }}</p>
    <p class="message-timestamp">Sent at: <span>{{ message.timestamp }}</span></p>
    <a href="{% url 'inbox' %}" class="back-to-inbox">Back to Inbox</a>
  </div>
  <script>
    window.onload = function() {
      if (!window.location.hash) {
        window.location = window.location + '#';
        window.location.reload();
        window.addEventListener('popstate', getUnreadMessageCounter);
      }
    }
    
    
  
  </script>
{% endblock %}
